
/* RESPONSIVE HEADER AND FOOTER STYLES*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #ffffff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; /* Set the fixed height of the footer here */
  line-height: 50px; /* Vertically center the text there */
  background-color: #ffffff;
}

/* Custom main content container CSS */
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
  text-align: center;
}

/* Bootstrap classes customization */
img.social-link__item {
  width: 25px;
  height: 25px;
  margin: 0 10px 5px;
  border-radius: 3px;
}

span.social-link > a {
  text-decoration: none;
}

span.text-muted {
  font-size: 0.90rem;
}

span.text-muted > a {
  color: rgba(0, 0, 0, 0.5);
}

span.text-muted > a:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.box-shadow {
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.dropdown-item:focus,
.dropdown-item:hover,
span.text-muted > a:hover,
span.text-muted > a:focus,
a#navbarDropdown.nav-link.dropdown-toggle:focus,
a#navbarDropdown.nav-link.dropdown-toggle:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #009639;
}

.dropdown-item:active {
  background-color: #ffffff;
}

a.navbar-brand.brand-community {
  color: #ee641a;
}

a.navbar-brand.brand-community:focus {
  color: #009639;
}

a.navbar-brand.brand-community:hover {
  color: #009639;
}

/* Social icons margin fix for smallest displays*/
@media (max-width: 465px) {
  img.social-link__item {
    margin: 0 2px 3px;
  }
}

/* Copywright text fix for smallest displays */
@media (max-width: 370px) {
  span.text-muted {
    font-size: 0.8rem;
  }
}

@media (max-width: 340px) {
  span.text-muted {
    display: none;
  }
}
