html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  font-family: "Open Sans", sans-serif;
}

/* HEADER STYLES */
header {
  background-color: #ffffff;
}

/* Removes navbar toggler border color */
.navbar-light .navbar-toggler {
  border-color: transparent;
}

/* Adds CSS animation to the navber toggler icon */
.navbar-light .navbar-toggler-icon {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.box-shadow {
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.dropdown-item {
  font-size: 0.95rem;
}

.dropdown-item:focus,
.dropdown-item:hover,
div.text-muted > a:hover,
div.text-muted > a:focus,
a#navbarDropdown.nav-link.dropdown-toggle:focus,
a#navbarDropdown.nav-link.dropdown-toggle:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #009639;
}

.dropdown-item:active {
  background-color: #ffffff;
}

a.navbar-brand.brand-community {
  color: #ee641a;
  font-size: 20px;
  /* font-weight: 600; */
}

a.navbar-brand.brand-community:focus,
a.navbar-brand.brand-community:hover {
  color: #009639;
}

.btn-outline-success {
  color: #009639;
  background-color: transparent;
  background-image: none;
  border-color: #009639;
  border-radius: 16px;
  font-size: 0.90rem;
}

/* Start Conversation button styes */
.btn-outline-success:hover, .btn-outline-success:active  {
  color: #fff;
  background-color: #009639;
  border-color: #009639;
}

.btn-outline-success:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 150, 57, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 150, 57, 0.5);
}

/* FOOTER STYLES */
/* Custom footer container */
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px; /* Set the fixed height of the footer here */
  line-height: 30px; /* Vertically center the text there */
  background-color: #ffffff;
}

/* Footer links and social icons styles */
span.social-link > a {
  text-decoration: none;
  margin: 0 7px;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.navbar-nav-svg:hover {
  fill: #009639;
}

/* Copywright text fix for smallest displays */
@media (max-width: 370px) {
  div.text-muted {
    font-size: 0.7rem;
  }
}

/* HEADER AN FOOTER COMMON STYLES */
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.95rem;
}
G
div.text-muted {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.7) !important;
}

div.text-muted > a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
